h1 { 
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 40%;
    top: 40%; 
    margin-left: -150px;
    margin-top: -150px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 span { 
    color: black; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: normal;
    font-size: 88px;
    letter-spacing: 0em;
    line-height: 1.25em;
    text-transform: none;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-transform: none;
}

h3 { 
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 41%;
    top: 55%; 
    margin-left: -150px;
    margin-top: -150px
}
  
h3 span { 
    color: black; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.25em;
    text-transform: none;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-transform: none;
}

h2 { 
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 41%;
    top: 30%; 
    margin-left: -150px;
    margin-top: -150px
}
  
h2 span { 
    color: black; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.25em;
    text-transform: none;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-transform: none;
}