.BackgroundImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: whitesmoke;
}
.name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

h2 { 
  position: absolute; 
  top: 320px; 
  left: 0; 
  width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 85px/4px Helvetica, Sans-Serif; 
   letter-spacing: 5px;  
}

h3 { 
    position: absolute; 
    top: 380px; 
    left: 0; 
    width: 100%; 
}
  
h3 span { 
    color: white; 
    font: bold 15px/4px Helvetica, Sans-Serif; 
    letter-spacing: 5px;  
}